<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Send debug messages to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/storeconnectionfactory-test-log-file.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- please do not remove the following 2 loggers, because it is required for the tests -->
    <logger name="SPECIAL_LOGGER" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.adorsys.cryptoutils.storageconnection.testsuite" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>


    <!-- the loggers above must not be changed or removed -->

    <logger name="org.adorsys.encobject.service.impl.SimpleStorageMetadataImpl" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.adorsys.cryptoutils.mongodbstoreconnection" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.adorsys.cryptoutils.extendedstoreconnection.impls.pathencryption" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- can be changed or removed -->
    <logger name="org.adorsys" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>
